@media only screen and (min-width:1295px) {
    .menus,
    .menu {
        .back {
            .logo_menus {
                justify-content: center;
                width: 95%;
            }
        }
        .menu__list {
            flex-direction: row;
        }
    }
    .btn__commande {
        padding: 28px;
    }
    footer {
        .footer__container {
            flex-direction: row;
            align-items: center;
            gap: 30%;
            h4 {
                font-size: 30px;
            }
            .footer__container__link {
                flex-direction: row;
                padding: 35px;
                gap: 75%;
                width: 95%;
                .link__logo,
                .link__nologo__container {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}